[buildout]
extends = http://dist.plone.org/release/4.3.7/versions.cfg
extensions = mr.developer
parts =
    zeo
    instance1
    instance2
    worker
    supervisor
    test
    code-analysis
    releaser
develop = .


[zeo]
recipe = plone.recipe.zeoserver
zeo-address = localhost:8089
file-storage = ${buildout:directory}/var/filestorage/Data.fs
blob-storage = ${buildout:directory}/var/blobstorage
eggs = ${instance1:eggs}


[instance1]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
zeo-client = true
zeo-address = ${zeo:zeo-address}
blob-storage = ${zeo:blob-storage}
shared-blob = on
eggs =
    Plone
    Pillow
    example.async [test]
    plone.app.async
zcml =
zcml-additional =
    <include package="plone.app.async" file="single_db_instance.zcml" />
environment-vars =
    ZC_ASYNC_UUID ${buildout:directory}/var/instance-uuid.txt


[instance2]
<=instance1
http-address = 8081


[worker]
<=instance1
http-address = 8082
zcml-additional =
    <include package="plone.app.async" file="single_db_worker.zcml" />
environment-vars =
    ZC_ASYNC_UUID ${buildout:directory}/var/worker-uuid.txt


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/example
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15
flake8-extensions =
    flake8-blind-except
    flake8-debugger
    flake8-coding


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance1:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance1:eggs}
defaults = ['-s', 'example.async', '--auto-color', '--auto-progress']


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[supervisor]
recipe = collective.recipe.supervisor
port = 8088
user = admin
password = admin
minprocs = 150
programs =
    10 zeo ${buildout:directory}/bin/zeo [console] true
    20 instance1 ${buildout:directory}/bin/instance1 [console] true
    20 instance2 ${buildout:directory}/bin/instance2 [console] true
    20 worker ${buildout:directory}/bin/worker [console] true

[versions]
setuptools = 18.3.2
zc.buildout = 2.4.4
zc.recipe.egg = 2.0.1
flake8 = 2.3.0
i18ndude = 3.4.0
robotframework = 2.8.4
robotframework-ride = 1.3
robotframework-selenium2library = 1.6.0
robotsuite = 1.6.1
selenium = 2.46.0
